<h1>Formulaire test:</h1>

<div class="container">
  <%= simple_form_for(@kayak) do |f| %>
    <%= f.input :price_per_day %>
    <%= f.input :adress %>
    <%= f.input :description %>
    <%= f.input :places %>
    <%= f.input :color %>
    <%= f.input :category, collection: Kayak::CATEGORIES %>
    <%= f.input :length %>
    <%= f.input :width %>
    <%= f.input :buoy %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
