<h1><%= @kayak.id %> </h1>


<p><%= @kayak.price_per_day %></p>
<p><%= @kayak.adress %></p>
<p> <%= @kayak.description %></p>
<p> <%= @kayak.places %></p>
<p> <%= @kayak.color %></p>
<p> <%= @kayak.category %></p>
<p> <%= @kayak.length %></p>
<p> <%= @kayak.width %></p>
<p> <%= @kayak.buoy %></p>
